html {
    height: 100%;
}

body {
    background-image: url(./img/terre-battue.jpg);
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#ligneP1 {
    background-color: rgba(165, 42, 42, 0.76);
}

#ligneP2 {
    background-color: rgba(165, 42, 42, 0.76);
}

#ratingplayerP1 {
    background-color: rgba(165, 42, 42, 0.76)
}

#ratingplayerP2 {
    background-color: rgba(165, 42, 42, 0.76)
}

footer {
    background-color: black;
}

header {
    background-color: black;
}

#ligneP1 button {
    background-color: black;
}

#ligneP2 button {
    background-color: black;
}

footer {
    bottom: 0;
    width: 100%;
}